@font-face {
  font-family: "优设标题黑";
  src: url(./font/YouSheBiaoTiHei-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Ace-SemiBold";
  src: url(./font/Montserrat-Ace-SemiBold.otf) format("truetype");
}

@font-face {
  font-family: "Source-Han-Sans-CN-Bold";
  src: url(./font/Source-Han-Sans-CN-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SourceHanSansCN-Medium";
  src: url(./font/SourceHanSansCN-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url(./font/MYRIADPRO-REGULAR.ttf) format("truetype");
}
